/*Variables*/
:root {
    --blog-light: #e8e8e8;
    --header-dark-green :#15683c;
    --light-green: #eefff5;
    --light-green-darker: #cbd9d1;
    --light-green-darkest: #a9b4ae;
    --gray: #373737;
    --article-btn-gray: #7e7e7e;
    --darker-white: #d4d4d4;
    --darkest-white: #bababa;
}

/*Styles*/
body {background-color: white !important;}
.dv-bg-blog-light {background-color: var(--blog-light);}
.dv-header-drop-down-toggle {color: var(--header-dark-green) !important;}
.dv-h4-header-logo {color: var(--header-dark-green) !important;}
.dv-dv-header-right-section {height: auto !important;}
.dv-footer {background-color: var(--blog-light);}
.breadcrumb-item.active {color: var(--header-dark-green) !important;}
.dv-tags-btn:hover {background-color: var(--light-green-darker);}
.dv-tags-btn:active {background-color: var(--light-green-darkest);}
.dv-article-details-name {color: var(--gray);}
.dv-article-details-value {color: var(--header-dark-green);}
.dv-article-btns.long {width: auto;}
.dv-article-btns:hover {background-color: var(--darker-white);}
.dv-article-btns:active {background-color: var(--darkest-white);}
.dv-paragraph.no-mb {margin-bottom: 0;}
.dv-p-3 {padding: 3rem;}
.dv-like-comment-save-btn:hover {background-color: var(--darker-white);}
.dv-like-comment-save-btn:active {background-color: var(--darkest-white);}
.dv-bottom-side-cta-like-cm-save {width: 75%;}
.dv-pop-up-close-btn:hover {background-color: var(--darker-white);color: black;}
.dv-pop-up-close-btn:active {background-color: var(--darkest-white);}
.dv-drop-down-article-btn-item > a {text-decoration: none;}
.dv-drop-down-article-btn-list {left: 3rem;}
.dv-ml-dot-5 {margin-left: .5rem;}

.dv-paragraph {
    color: #616161;
    font-size: 20px;
    margin-bottom: 2rem;
}

.dv-title-text {
    color: var(--gray);
    margin-bottom: 1rem;
}

.dv-tags-btn {
    padding: .5rem;
    background-color: var(--light-green);
    color: var(--header-dark-green);
    border-radius: 2rem;
    border: none;
    transition: .3s;
}

.dv-article-btns {
    height: 3rem;
    width: 3rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    border: 1px solid var(--article-btn-gray);
    color: var(--article-btn-gray);
    transition: .3s;
}

.dv-main-image-2 {
    width: 50%;
    object-fit: cover;
    border-radius: .25rem;
    margin-right: 1rem;
}

.dv-nokte {
    display: inline-flex;
    align-items: center;
    width: 100%;
    background-color: var(--blog-light);
    border-right: 10px solid #045141;
    padding: 1rem;
}

.dv-like-comment-save-btn {
    background-color: unset;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    transition: .3s;
    display: inline-flex;
    align-items: center;
    color: #878787;
}

.dv-comments-input-holder {
    background-color: var(--blog-light);
    display: inline-flex;
    width: 100%;
    padding: 1rem;
}

.dv-comments-input {
    background-color: unset;
    border: none;
    width: 100%;
    outline: none;
}

.dv-socials-abs {
    position: absolute;
    left: 1rem;
    margin-top: 3rem;
}

.dv-main-image-2-paragraph {
    width: 50%;
    color: #616161;
    font-size: 20px;
    margin-bottom: 2rem;
}

.dv-bottom-side-tags-and-socials {
    display: inline-flex;
    width: 100%;
}

.dv-bottom-side-socials {
    list-style: none;
    display: inline-flex;
    width: 25%;
    justify-content: space-between;
}

.dv-bottom-side-tags {
    display: inline-flex;
    width: 75%;
    list-style: none;
    margin-bottom: 1.5rem;
}

.dv-breadcrumb-item-link {
    text-decoration: navajowhite;
    color: black;
    font-weight: bold;
}

.dv-top-side-tags {
    display: inline-flex;
    width: 100%;
    list-style: none;
    margin-bottom: 1.5rem;
}

.dv-author-and-time {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.dv-author-and-time-right-side {
    width: 50%;
    display: inline-flex;
}

.dv-author-and-time-left-side {
    width: 50%;
    display: inline-flex;
    justify-content: end;
    align-items: center;
}

.dv-bottom-side-cta {
    width: 100%;
    display: inline-flex;
}

.dv-bottom-side-cta-copy-btn {
    width: 25%;
    display: flex;
    justify-content: end;
}

.dv-pop-up-close-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: unset;
    border: none;
    transition: .3s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dv-pop-up-top-side {
    width: 100%;
    padding: 1.5rem;
    background-color: var(--green);
}

.dv-pop-up {
    background-color: white;
    width: 50%;
    border-radius: .5rem;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    overflow: hidden;
    position: fixed;
    left: 25%;
    top: -60%;
    transition: .4s;
}

.dv-pop-up-dark-bg {
    top: -100%;
    left: 0 !important;
    display: block !important;
}

.dv-article-btns.dv-options:focus ~ .dv-drop-down-article-btn-list{
    opacity: 100%;
    pointer-events: visible;
}

@media (max-width: 991px) {
    .dv-main-image-2-paragraph {width: 100%;}
    .dv-main-image-2-holder {
        display: flex;
        flex-direction: column;
    }

    .dv-main-image-2 {
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .dv-breadcrumb-item-link {font-size: .5rem !important;}
    .dv-bottom-side-socials,.dv-bottom-side-tags,
    .dv-author-and-time-right-side, .dv-author-and-time-left-side{width: 100%;}
    .dv-bottom-side-socials {margin-bottom: 2rem;}
    .dv-author-and-time-left-side {justify-content: start;}
    .dv-author-and-time-right-side, .dv-bottom-side-cta-like-cm-save {margin-bottom: 1rem;}
    .dv-bottom-side-cta-copy-btn > .dv-article-btns ,
    .dv-bottom-side-cta-copy-btn ,
    .dv-bottom-side-cta-like-cm-save,
    .dv-bottom-side-cta-like-cm-save > .dv-like-comment-save-btn{width: 100%;}
    .dv-bottom-side-cta-like-cm-save > .dv-like-comment-save-btn{display: inline-flex;justify-content: start;}

    .dv-top-side-tags > li,.dv-bottom-side-tags > li {
        margin-bottom: 1rem;
        margin-left: 0;
    }

    .dv-bottom-side-tags {
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .dv-bottom-side-tags-and-socials, .dv-top-side-tags,
    .dv-author-and-time, .dv-bottom-side-tags,
    .dv-bottom-side-cta, .dv-bottom-side-cta-like-cm-save{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 613px) {
    .dv-pop-up {
        width: 70%;
        left: 15%;
    }
}