/*Importing Iran Sans Font*/
@import "../fonts/css/iranian-sans.css";

/*Variables*/
:root {
    --green: #2abe5c;
    --green-darker: #23a14e;
    --green-darkest: #209046;
    --green-rgba: rgba(42, 190, 92, 0.5);
    --blue: #426982;
}

/*Default Styles*/
img {pointer-events: none;}
button {cursor: pointer;}
a {text-decoration: none;}

/*Global Styles*/
* {
    padding: 0;
    margin: 0;
    font-family: 'IranianSans', sans-serif !important;
    box-sizing: border-box;
}

/*Styles*/
.li-inner-bottom-line {height: 3px;}
.li-inner-bottom-line.active {background-color: #bedc7c;}
.btn-header-join:hover, .btn-main-request-ambulance:hover {background-color: var(--green-darker);}
.btn-header-join:active, .btn-main-request-ambulance:active {background-color: var(--green-darkest);}
.h5-main-title {color: var(--green);}
.img-left-side-ambulance {width: 80%;}
.link-header-btn-holder {width: 50%;}
.li-nav-item:active {background-color: var(--bs-dark);}
.dv-main-right-side-of-top-side {width: 25%;}
.img-sect-2-top-side {margin-bottom: 1rem;}
.dv-sect-2-top-item.mt-minus-9 {margin-top: -9rem;}
.dv-sect-2-top-item.mt-minus-7 {margin-top: -7rem;}
.dv-sect-2-top-item.mt-minus-13 {margin-top: -13rem;}
.dv-sect-3-left-side-top {margin-bottom: 3rem;}
.h3-sect-3-right-side-title {color: var(--blue);margin-bottom: 1rem;}
.h1-sect-3-right-side-subtitle {color: var(--green);}

.sect-1 {
    background-image: url('../img/section-1/bg-section1.png');
    background-size: cover;
    min-height: 130vh;
    width: 100%;
}

.h4-header-logo {
    margin-right: 1rem;
    margin-top: .40rem;
    white-space: nowrap;
    color: var(--green);
}

.link-header {
    text-decoration: none;
    color: white !important;
    white-space: nowrap;
}

.ul-bottom-line {
    width: 100%;
    height: 3px;
    background-color: var(--green-rgba);
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.btn-header-join, .btn-main-request-ambulance {
    background-color: var(--green);
    color: white;
    transition: .3s;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: .25rem;
}

.dv-header-right-section {
    width: 75%;
    height: 5rem;
    overflow: hidden;
}

.h1-main-subtitle {
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: white;
}

.btn-main-request-ambulance {
    width: auto !important;
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
}

.dv-main-bottom-side {
    text-align: center;
    color: white;
}

.dv-main-top-side {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 2rem;
    margin-bottom: 3rem;
}

.p-main-paragraph {
    margin-right: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.dv-header-left-side {
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-header-show-on-mobile {
    display: none;
    background-color: unset;
    border: 1px solid var(--green);
    color: var(--green);
    padding: 1rem;
    border-radius: .25rem;
    transition: .3s;
}

.btn-header-show-on-mobile:active {
    background-color: var(--green);
    color: white;
}

.dv-mobile-nav-dark-bg {
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    transition: .3s;
    left: 100%;
}

.nav-mobile-nav {
    position: fixed;
    width: 75%;
    height: 100%;
    background-color: var(--green-darkest);
    box-shadow: 0 0 30px rgba(0,0,0,.1);
    display: none;
    transition: .3s;
    left: 100%;
}

.li-nav-item {
    width: 100%;
    padding: 1rem;
    background-color: unset;
    transition: .3s;
}

.dv-main-left-side-of-top-side {
    width: 75%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.dv-sect-2-top-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
    margin-bottom: 5rem;
}

.dv-sect-2-top-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-mid-left-side {
    width: 25%;
    text-align: center;
    color: var(--green-darkest);
}

.dv-sect2-mid-texts, .dv-sect2-bottom-texts {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.sect-3 {
    display: inline-flex;
    width: 100%;
    padding: 4rem;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/section-3/bg-section3.png');
}

.dv-sect-3-right {
    margin-left: 3rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-left-side-number {margin-left: 1rem;}
.li-sect-3-left-side {
    display: inline-flex;
    width: 100%;
    align-items: center;
    color: var(--blue);
}

.li-sect-3-left-side:hover {color: var(--green) !important;transition: .3s}

/*Media Querys*/
@media (max-width: 768px) {
    .dv-sect-2-top-item.mt-minus-9 {margin-top: 0;}
    .dv-sect-2-top-item.mt-minus-7 {margin-top: 0;}
    .dv-sect-2-top-item.mt-minus-13 {margin-top: 0;}
    .dv-sect-2-top-items {grid-template-columns: repeat(2, 1fr);}
}

@media (max-width: 992px) {
    .dv-header-right-section {display: none;}
    .dv-header-left-side {width: 100%;}
    .btn-header-show-on-mobile {display: block;}
    .dv-mobile-nav-dark-bg, .nav-mobile-nav {display: block;}
    .img-left-side-ambulance {width: 100%;}

    .link-header-btn-holder {
        width: auto;
        margin-right: 1rem;
    }

    .dv-main-top-side {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .dv-main-right-side-of-top-side {
        width: 100%;
        margin-bottom: 4rem;
    }

    .dv-main-left-side-of-top-side {
        width: 100%;
        justify-content: center;
    }

    .dv-sect2-mid-texts, .dv-sect2-bottom-texts {
        display: flex;
        flex-direction: column;
    }

    .dv-sect2-mid-texts > p, .dv-sect2-bottom-texts > p{
        width: 100% !important;
        margin: 2rem;
    }
}

@media (max-width: 613px) {
    .dv-sect-2-top-item.mt-minus-9 {margin-top: 0;}
    .dv-sect-2-top-items {grid-template-columns: repeat(1, 1fr);}
}