/*Importing Iran Sans Font*/
@import "fonts/css/iranian-sans.css";

/*Default Styles*/
img {pointer-events: none;}
button {cursor: pointer;}
a {text-decoration: none;}

/*Global Styles*/
* {
    padding: 0;
    margin: 0;
    font-family: 'IranianSans', sans-serif;
    box-sizing: border-box;
}